@font-face {
  src: url("../fonts/Montserrat_Regular.ttf");
  font-family: "Montserrat Regular";
}

@font-face {
  src: url("../fonts/Montserrat_Medium.ttf");
  font-family: "Montserrat Medium";
}

@font-face {
  src: url("../fonts/Montserrat_semiBold.ttf");
  font-family: "Montserrat SemiBold";
}

@font-face {
  src: url("../fonts/Jost-Regular.ttf");
  font-family: "Jost Regular";
}

@font-face {
  src: url("../fonts/Jost-Medium.ttf");
  font-family: "Jost Medium";
}

@font-face {
  src: url("../fonts/Lora_Regular.ttf");
  font-family: "Lora Regular";
}

@font-face {
  src: url("../fonts/Lora_Medium.ttf");
  font-family: "Lora Medium";
}

@font-face {
  src: url("../fonts/Suisse-intl-regular.ttf");
  font-family: "Semi Intl Regular";
}
